.chores-tracker-account {
    position: relative;
    height: 90%;
    width: 60%;
    justify-content: center;
    background: #fffef6;
    border-radius: 10px; 
    box-shadow: 4px 4px 9px 0px #888888;    
    color: #59586f;
}
.chores-tracker-account .app-name {
    width: 20%;
}

.chores-tracker-account .app-form {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}
.chores-tracker-account .header-menu {
    width: 100%;
    max-width: 1140px;
    height: 8%;   
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.chores-tracker-window {
    display: flex;
    height: 92%;
}
.chores-tracker-main-window {
    height: 100%;
    width: 80%;
    padding-left: 20px;
}

.chores-tracker-left-window {
    width: 20%;
}