.ChoresTrackerForm {
    backdrop-filter: blur(20px);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.ChoresTrackerForm {
    --app-background: #fffef6;
    --app-highlight-color: #2c2d59;
    --app-dimmed-color: #ae9e9e;
    --app-succes-color: #91b978;
    --app-error-color: #ff8c24;
}

.ChoresTrackerForm h1  {
    z-index: 1000;
    width: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-size: 36px;
    text-align: center;
    color: var(--app-highlight-color);
}
