.header-container {
    z-index: 10;
    width: 70%;
    padding: 20px 0;
}

.page-block {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more {
    animation: animdown .7s infinite alternate;
}

.learn-more svg {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}
.learn-more:hover {
    animation: animdown .7s infinite alternate;
}

@keyframes animdown {
    0% {
        transform: translate(0%, 20%);
    }
    50% {
        transform: translate(0%, 0%);
    } 
}

.name-title {
    font-size: 70px;
    font-weight: bold;
}

.country-title {
    display: flex;
    align-items: center;
    gap: 5px;
    
    font-size: 15px;
    font-weight: bold;
   
}

.skill-icons {
    display: flex;
    gap: 20px;
}

.skill-icons svg {
    width: 30px;
    height: 30px;
}

.skill-area span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.component-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    height: 30px;
    font-weight: 500;
    border-radius: 5px;
    gap: 5px;
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    padding: 5px 15px;
}

.component-button:hover {
    cursor: pointer;
}

.linkedin-link {
    max-width: 250px;
    font-weight: 500;
}

.linkedin-link a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.skill-list {
    margin: 30px 0;
}
.skill-title {
    font-size: 10px;
    text-transform: uppercase;
}
.red-text {
    color: var(--red-highlight-color);
}



.introduction-content-container {
    width: 70%;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    transform: translateY(-10%);
}


.portfolio-image {
    clip-path: inset(13% 10% 7% 10%);
    transform: scaleX(-1);
}

.side-component {
    width: 50%;
}

.contact-back {
    z-index: 100;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.406);
}
.hover-effect {
    transition: 400ms ease-in-out;
}

.hover-effect:hover {
    color: var(--highlight-color);
}

.hover-effect:hover svg {
    background-color: var(--highlight-color);
}