.user-menu {
    font-size: 13px;
    text-align: left;
    user-select: none;
    border-radius: 2px;
}
.user-menu .user-profile-child {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.user-menu .user-avatar {
    background: rgb(29, 22, 80);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 5px;
}
.dropdown-menu {
    position: absolute;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 0px #d6d5d5;
}
.dropdown-menu .dropdown-menu-item {
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    padding: 0 0 0 10px;
    background-color: #fffffa;
    cursor: pointer;

}
.dropdown-menu .dropdown-menu-item-text {
    margin-left: 10px;
}

.user-menu:hover  {
    background-color: rgb(216, 216, 216);
}

.dropdown-menu .dropdown-menu-item:hover  {
    background-color: rgb(231, 231, 231);
}

.user-name {
    font-weight: 600;
}