.userMenu {
    width: 150px;
    text-align: left;
    user-select: none;
    border-radius: 2px;
}
.userMenu .user-profile-child {
    margin: 0 0 0 13px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.userMenu .user-avatar {
    background: rgb(29, 22, 80);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 5px;
}
.dropdownMenu {
    position: absolute;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: 4px 4px 9px 0px #888888;
}
.dropdownMenu .dropdown-menu-item {
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    padding: 0 0 0 10px;
    background-color: #fffffa;
    cursor: pointer;

}
.dropdownMenu .dropdown-menu-item-text {
    margin-left: 10px;
}

.userMenu:hover  {
    background-color: rgb(216, 216, 216);
}

.dropdownMenu .dropdown-menu-item:hover  {
    background-color: rgb(231, 231, 231);
}