.chores-list {
    z-index: 50;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: 85%;
    overflow-y: auto;
}
.choreItemMain {
    position: relative;
    font-size: 12px;
}
.chore-item {
    
    width: 200px;
    height: 100px;
    border: 0.5px solid #a62f2f;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
}
.chore-item-title {
    font-weight: 600;
}

.chore-item-date {
    display: flex;
    align-content: center;
    align-items: center;
    color: #9d9d9d;
}

.chore-item-date span {
    padding-left: 3px;
}

.chore-item-cost {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 12px;
}