.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-edit-menu {
    display: flex;
}

.add-edit-menu-icon {
    padding: 5px;
}
.add-edit-menu-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu-bar {
    color: #59586f;
}
.menu-bar.disabled {
    color: rgb(163, 163, 163);
}

.menu-bar.disabled > .add-edit-menu-icon:hover {
    cursor: default;
}