.quick-add-menu {
    width: 100%;
    display: flex;
}
.quick-add-item {
    width: 200px;
    border: 0.5px solid  #a5a5a5;
    border-radius: 5px;
    font-size: 12px;
}

.quick-add-item:hover {
    background-color: #a5a5a5;
}

.quick-add-item:not(:first-child) {
  margin-left: 20px;
}

.item-cost {
    display: flex;
}