@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

#AbstractAnimationWidget {
	background: #e4c1ff;
	background: -webkit-linear-gradient(126deg, #e4c1ff 0%, #ffe6cc 50%, #fdfdfd 100%);
	background: linear-gradient(126deg, #e4c1ff 0%, #ffe6cc 50%, #fdfdfd 100%);
}
.close-btn:after {
	display: inline-block;
  	content: "\00d7";
	font-size: xx-large;
}
.close-btn-container {
	color: #ffa33a;
    border: none;
    outline: none;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 6px;

}

.widgets-tab {
    /*background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(203 212 255));*/
    background-color: #FAF3E1;
    padding-bottom: 20px;
}
.widget-title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'BBH Bartle', sans-serif;
    /*font-family: "Climate Crisis", sans-serif;*/
    /*font-family: "Chango", sans-serif;*/
    font-size: 1rem;
    text-align: center;
}

.widget-list {
    width: 60%;
    margin: auto;
    max-width: 1350px;
}

.widget-item-description {
    min-height: 20%;
}
.widget-list-form-with-logo {
    max-height: 20%;
    margin: 20px 0;
}
.widget-list-form-with-logo hr {
    color: var(--color-gray-400);
}
.widget-list-logo-container {
    margin: 20px 0;
}

.widget-technologies {
     margin-top: auto;
}
.widget-technologies-list {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.widget-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    transition: width 4s, height 4s;
}
.widget-item:hover {
    transform: scale(1.05);
}

.button-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 ;
}

input,textarea:focus {
    outline: none;
}

:root {
    --main-bg-color: #fff;
    --complimentary-color-1: #F7C566;
    --complimentary-color-2: #e4c1ff;
    --highlight-color: #ff984b;
    --red-highlight-color: #ff3a3a;
    --btn-color: #000;
    --btn-text-color: #fff;
    --btn-text-color-inverted: #000;
    --input-text-color: #1c1c1c;
    --btn-color-inverted: #ff984b;
}

.widget-form {
    z-index: 1000;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}