@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#AbstractAnimationWidget {
	background: #e4c1ff;
	background: -webkit-linear-gradient(126deg, #e4c1ff 0%, #ffe6cc 50%, #fdfdfd 100%);
	background: linear-gradient(126deg, #e4c1ff 0%, #ffe6cc 50%, #fdfdfd 100%);
}
.close-btn:after {
	display: inline-block;
  	content: "\00d7";
	font-size: xx-large;
}
.close-btn-container {
	color: #ffa33a;
    border: none;
    outline: none;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 6px;

}

.widgets-tab {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(203 212 255));
    padding-bottom: 20px;
}
.widget-title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.widget-list {
    width: 60%;
    margin: auto;
    max-width: 1350px;
}

.widget-list-form-with-logo {
    margin: 20px 0;
}
.widget-list-form-with-logo hr {
    color: var(--color-gray-400);
}
.widget-list-logo-container {
    margin: 20px 0;
}

.widget-item {
    background-color: white;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    border: 0.5px solid #c5c5c5;
}