.todo-add-edit {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.todo-item-form-text {
    width: 40%;
}

.todo-item-form-text input:focus {
    outline: none;
}

.todo-item-save button {
    border: 0.5px solid #2b2c58;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    color: #2b2c58;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.todo-item-form-cost {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.todo-item-form-cost-input {
    width: 30px;
}