.LoginRegisterForm .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.LoginRegisterForm .input-box {
    font-size: 16px;
}
.LoginRegisterForm .input-box input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 2px solid #ae9e9e;
    padding: 0 50px 0 20px;
    /*background: #ffffff;*/
}

.LoginRegisterForm .message-box {
    width: 100%;
    border-radius: 40px;
    border: 2px solid #ae9e9e;
    padding: 0 50px 0 20px;
    /*background: #ffffff;*/
}
.LoginRegisterForm .message-box.message-success {
    border: 2px solid #91b978;
}
.LoginRegisterForm .message-box.message-error {
    border: 2px solid #ff8c24;
}
.LoginRegisterForm .input-box input:focus { 
    outline: none; 
    border: #2c2d59 2px solid; 
    background: #fff;
}

.LoginRegisterForm .input-box input::placeholder {
    color: #ae9e9e;
}
.LoginRegisterForm .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}