.rdp-root {
    --rdp-accent-color: #2c2d59; 
    
    --rdp-day-height: 10px;
    --rdp-day-width: 10px;
    --rdp-day_button-height: 20px;
    --rdp-day_button-width: 20px;

    --rdp-nav-height: 20px;
    --rdp-nav_button-height:15px;
    --rdp-nav_button-width:15px;

    --rdp-week_number-height:10px;
    --rdp-week_number-width:10px;

    font-size: 12px;
}