.hourly-planner {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 60%;
    overflow-y: auto;
    background-color: white;
    font-size: 10px;
    overflow-y: auto;
    border: 0.5px solid;   
    border-radius: 10px;
    padding: 10px;
}

.close-planner {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 20px;
}

.hourly-planner-title {
    font-weight: 600;
    padding-right: 5px;
}

.hourly-planner-grid {
    position: relative;
}

.hourly-planner-row {
    display: flex;
    align-items: center;
}

.hourly-planner-hour {
    width: 10%;
}

.hourly-planner-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 30px;
}

.hourly-planner-half-hour-1 {
    border-bottom: 0.2px solid #c1c1c1;
}
.hourly-planner-half-hour {
    height: 50%;
    width: 100%;
}

.hourly-planner-element {
    position: absolute;
    z-index: 100;
    border: 0.5px solid #000000;
    border-radius: 5px;
    width: auto;
    background: #fff;
}

.hourly-planner-element:hover {
    cursor: pointer;
}

.cursor-time-element {
    position: absolute;
    z-index: 50;
    height: 0.8px;
    left: 10%;
    width: 100%;
    background-color: #fb4d4d;
}