.popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;background-color: aliceblue;
    border-radius: 5px;
    font-size: 12px;
}

.popup.success {
    background-color: #def3d6;
    border: 0.5px solid rgb(187, 251, 189);
    
}
.popup.fail {
    background-color: #ecc9c5;
    border: 0.5px solid #f89f8b;
}

.popup-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-icon {
    width: 15%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.popup.success .popup-icon, .popup.success .popup-text {
    color: #4f6546;
}

.popup.success .popup-close {
    color: #9cc0a3;
}

.popup.fail .popup-icon, .popup.fail .popup-text {
    color: #654646;
}
.popup.fail .popup-close {
    color: #c09c9c;
}

.popup-text {
    width: 70%;
    font-weight: 500;
}
.popup-close {
    width: 15%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-close:hover {
    cursor: pointer;
}